body {
  color:#606c76;
  font-weight: 500;
}

h2 {
  border-bottom: none;
}

blockquote {
  border-color: #42b983
  color: #858585;
  margin: 2em 0;
  background: #f8f8f8;
  p {
    font-weight: 600
  }
}

.page .theme-default-content:not(.custom) {
  max-width: 80%;
}

.page .page-edit, .page .page-nav {
  max-width: 80%;
}

.theme-default-content code {
  color: #e96900;
  white-space: pre-wrap;
}

.navbar {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  font-weight: bold;
}

.sidebar-sub-header a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 419px) {
  .page .theme-default-content:not(.custom) {
    max-width: 90%;
    padding: 1.5rem 0;
  }
  
  .theme-default-content div[class*="language-"] {
    margin: 0.85rem 0;
  }
}
